
/*Colors:
orange #FFB91B
blue #537CB9
  
*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url("../images/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;  
}

@font-face {
   font-family: almoni-dl-black;
   src: url('fonts/almoni/almoni-dl-aaa-black.otf');
}

@font-face {
   font-family: almoni-dl-bold;
   src: url('fonts/almoni/almoni-dl-aaa-bold.otf');
}

@font-face {
   font-family: almoni-dl-light;
   src: url('fonts/almoni/almoni-dl-aaa-light.otf');
}

@font-face {
   font-family: almoni-dl-regular;
   src: url('fonts/almoni/almoni-dl-aaa-regular.otf');
}

/*Font attributes*/
/*Colors*/
.orange-style{
  color:#FFB91B;
}

.gray {
  color: #9E9E9E;
}

.white {
  color: #EBF0F0;
}

.blue{
  color: #537cb9;
}

/*Sizes*/
.xsmall{
  font-size: 0.7vw; 
}
.small{
  font-size: 1vw;
}

.medium{
  font-size: 1.1vw;
}

.large{
  font-size: 1.5vw;
}

.xlarge{
  font-size: 1.8vw;
}
/*Style*/

.bold{
  font-weight: bold;
}

.cursor-mode{
  cursor: pointer;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 0px !important;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  /*border-bottom: 1px solid #e5e5e5;*/
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    min-width: 1500px;
    max-width: 1730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background-color: white;
    /*border: 3px solid black;*/
  }

 

