<div class="jumbotron" style="padding:0px !important;">
	<div class="flex-container">
		<div class="flex-map">
			<div id="map_canvas" ng-model="webmap">
				<!--<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" bounds="map.bounds" events="map.events">-->
				<!--<ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl" events="eventHandler">-->
				<!--<div ng-repeat="marker in markers track by $index">-->
					<!--<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.markerFirebaseKey">-->
			            <!--<ui-gmap-window options="marker.window.options">-->
			            <!--<div>-->
			                <!--<div class="blue large">{{marker.title}}</div>-->
			                <!--<div class="orange medium">{{marker.description}}</div>-->
			            <!--</div>-->
			            <!--</ui-gmap-window>-->
					<!--</ui-gmap-marker>-->
				<!--</div>&lt;!&ndash; end of marker &ndash;&gt;-->
				<!--</ui-gmap-drawing-manager>-->
				<!--</ui-gmap-google-map>-->
        <div map-lazy-load="https://maps.google.com/maps/api/js">
          <ng-map center="22,-17" zoom="3" style="height: 70vh !important;">
            <!--<custom-marker ng-repeat="marker in markers "-->
                           <!--position="{{translateMarker(marker)}}"-->
                           <!--id="custom-marker-{{$index}}"-->
                           <!--on-click="map.showInfoWindow('bar')">-->
              <!--<div class="custom-marker" style="background-image: url({{marker.options.icon.url}});">-->
                <!--{{$index}}-->
              <!--</div>-->
            <!--</custom-marker>-->

            <!--<info-window id="bar" max-width="200">-->
              <!--<div ng-non-bindable>-->
                <!--<div id="siteNotice"></div>-->
                <!--<h1 id="firstHeading" class="firstHeading">Marker {{marker}}</h1>-->
              <!--</div>-->
            <!--</info-window>-->
            <!--<custom-marker-->
              <!--ng-repeat="marker in markers track by $index"-->
              <!--id="{{marker.id}}marker"-->
              <!--position="{{translateMarker(marker)}}"-->
              <!--on-click="map.showInfoWindow('{{marker.id}}info')">-->
              <!--<div class="custom-marker" style="background-image: url({{marker.options.icon.url}});">-->
                <!--{{$index}}-->
              <!--</div>-->
            <!--</custom-marker>-->

            <!--<info-window-->
              <!--ng-repeat="marker in markers track by $index"-->
              <!--id="{{marker.id}}info" visible-on-marker="{{marker.id}}marker">-->

              <!--<div>-->
                <!--<div class="blue large">{{marker.title}}</div>-->
                <!--<div class="orange medium">{{marker.description}}</div>-->
              <!--</div>-->

            <!--</info-window>-->
            <custom-marker id='{{marker.id}}' position="{{translateMarker(marker)}}"
                    ng-repeat="marker in markers track by $index"
                    on-click="showDetail(marker)">
              <div class="custom-marker" style="background-image: url({{marker.options.icon.url}});">
                {{$index + 1}}
              </div>
            </custom-marker>

            <info-window id="foo-iw" style="margin-top: -50px;">
              <div>
                <div class="blue large">{{marker.title}}</div>
                <div class="orange medium">{{marker.description}}</div>
              </div>
            </info-window>
          </ng-map>
        </div>
			</div> <!-- end of map canvas  -->
			<div  ng-show="$parent.showChat" class="large chat_canvas">
				<div class="messages_canvas">
					<div class="messages-container">
						<div class="messages-item1">
							<div class="message-minus cursor-mode" ng-click="$parent.showChat = false">
								<img src="images/chat/minus.png" alt="">
							</div>
						</div>
						<div class="messages-item2" schroll-bottom="messages" scroll-glue>
							<div>
								<div ng-repeat="message in messages"
								ng-class="{'my-div-message-box':message.uid === Auth.$getAuth().auth.uid,'other-div-message-box':message.uid !== Auth.$getAuth().auth.uid}">
                  <div
                  ng-class="{'my-message-box':message.uid === Auth.$getAuth().auth.uid,'other-message-box':message.uid !== Auth.$getAuth().auth.uid}"
                  class="white small">
                    <div>
                      <span class="message-time">{{message.timestamp | date:'HH:mm'}}</span>
                      <span class="message-user">{{message.name.split("@")[0]}}</span>
                    </div>
                    <div>
                      <div class="message-file" ng-if="message.file">
                        <a ng-href="{{message.file.payload}}"  target="_blank" ng-if="message.file.type == 'image/jpeg' || message.file.type == 'image/png'" >
                          <img ng-src="{{message.file.payload}}" class="img-rounded" style="width: 15vw;" image-on-load-directive>
                        </a>

                        <div ng-if="!(message.file.type == 'image/jpeg' || message.file.type == 'image/png')" class="message-body">
                          <a href="{{message.file.payload}}" download="{{message.file.name}}">
                            <i class="fa fa-paperclip fa-2x"></i> {{message.file.name}}
                            <br>
                            size: {{message.file.size| bytes}}  <i class="fa fa-download"></i>
                          </a>
                        </div>

                      </div>
                      <span class="message-text">{{message.text}}{{message.file.name}}</span>
                    </div>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<form ng-submit="sendMessage(newMessage,trip.id)">
					<div class="send-message-container">
						<div class="message_input">
							<input type="text" ng-model="newMessage.text">
						</div>
            <div id="send-message-file-name" ng-if="newMessage.file">
              <span class="send-message-remove-file glyphicon glyphicon-remove cursor-mode" ng-click="newMessage.file=null;"></span>
              {{newMessage.file.name}}
            </div>
            <button id="send-message-file" type="button" >
              <input id="send-message-file-button" type="file" file-model="newMessage.file">
              <label id="send-message-file-label" class="cursor-mode" for="send-message-file-button"><span class="glyphicon glyphicon-file"></span></label>
            </button>
						<button id="send-message-submit" type="submit">שלח הודעה</button>
					</div>
				</form>
			</div>
		</div>

    <!--files section-->
    <div class="flex-files-container" ng-if="$parent.showFiles">
      <div class="flex-files-column-1">
        <div>
          <span style="font-size:5vh;text-align: center; font-family: almoni-dl-bold">הקבצים שלי</span>
        </div>
        <div ng-repeat="file in files" class="file-container">
          <a ng-href="{{file.payload}}" target="_blank">
            <div ng-if="file.type == 'image/jpeg' || file.type == 'image/png'" style="width:100%; height:12vh; background:url({{file.payload}});background-size: 100% 100%;background-repeat: no-repeat;">
            </div>
            <div ng-if="file.type == 'image/jpeg' || file.type == 'image/png'">
              {{file.name}}
            </div>
          </a>
          <a href="{{file.payload}}" download="{{file.name}}">
          <div ng-if="!(file.type == 'image/jpeg' || file.type == 'image/png')" class="message-body">
            <div style="padding-top: 2vh;">
              <span class="	glyphicon glyphicon-file" style="font-size:8vh"></span>
            </div>
            <div style="width:100%;">
              <i class="fa fa-paperclip fa-2x"></i> {{file.name}}
              <br>
              size: {{file.size| bytes}}  <i class="fa fa-download"></i>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <!--Calendar section-->
		<div class="flex-day-calendar" ng-if="!$parent.showFiles">
			<div class="flex-day-calendar-header-container">
        <div style="width: 30%; padding-top: 1.4vh;">
          <md-button class="md-raised md-primary small bold blue-back vp-button" ng-click="modeService.setAddEventMode(scope)">הוסף אירוע</md-button>
        </div>
				<div class="flex-day-calendar-header-item3 white medium bold">
				יום טיול {{currentDay.index}}
				</div><!-- end of item3 -->
        <div class="flex-day-calendar-header-item4 white medium bold white day-button" ng-click="modeService.setDayMode(scope,currentDay);">
                {{currentDay.date | date:'d'}}  {{currentDay.date | date:'EEE'}}
        </div><!-- end of item3 -->
			</div><!-- end of flex-day-calendar-header-container" -->

			<div class="flex-event-calendar-body" ng-if="modeService.getEventMode()" style="">
				<div class="flex-event-div-1-container">
					<div class="flex-event-div-1-item-2">
						<div>
							<img ng-src="{{currentEvent.eventIcon}}" style="width:3vw;" alt="">
						</div>
						<div class="medium gray" style="margin-top:1em;">
							{{currentEvent.date | date:"hh:mm"}}
						</div>
					</div>
					<div class="flex-event-div-1-item-1" style="font-family: almoni-dl-regular;text-align: right;">
						<div class="xlarge blue" >{{currentEvent.title}}</div>
						<div class="medium gray" style="margin-top:1.2em;padding-right:1vw;">{{getType(currentEvent.type)}} </div>
					</div>
				</div>
				<div class="flex-event-div-2 small">
					{{currentEvent.description}}
				</div>
				<div class="flex-event-div-3-container">
					<div class="flex-event-div-3-item-2">
						<img src="/images/middle-bar/add-event1.png" alt="">
					</div>
					<div class="flex-event-div-3-item-1">
						<div class="small gray">כתובת</div>
						<div class="small">{{currentEvent.address}}</div>
					</div>
				</div>
				<div class="flex-add-event-line-container">
					<div class="flex-add-event-buttons-item-1" style="width:45% !important">
            <md-button class="md-raised md-primary small bold blue-back vp-button" ng-click="modeService.setEditEventMode(scope,currentEvent,markersService)" type="button">ערוך אירוע <span class="glyphicon glyphicon-edit"></span></md-button>
					</div>
					<div class="flex-add-event-buttons-item-2">
            <md-button class="md-raised md-primary small bold blue-back vp-button" type="button" ng-click="deleteEvent(currentEvent)">מחק <span class="glyphicon glyphicon-trash"></span></button></md-button>

						<!--<button class="add-event-delete small" type="button" ng-click="deleteEvent(currentEvent)">מחק <span class="glyphicon glyphicon-trash"></span></button>-->
					</div>
				</div>

			</div><!-- end of flex-day-calendar-body-container  -->

			<div class="flex-day-calendar-body scrollbar small box-one"  ng-if="modeService.getDayMode()" style="">
				<div class="flex-event-item-container" ng-repeat="event in currentDay.events">
					<div class="flex-event-item-item-1">
						<img ng-src="{{event.eventIcon}}" alt="">
						<div class="medium" style="margin-top:1em;">
							{{event.date | date:"hh:mm"}}
						</div>
					</div><!-- end of flex-event-item-item-2 -->
					<div class="flex-event-item-item-2">
						<div class="flex-event-item-item-1-up">
						  <div id="day-mode-event-button " class=" day-mode-event-button medium cursor-mode" ng-click="modeService.setEventMode(scope,event,currentDay)">{{event.title}}</div>
						  <div class="gray medium">{{getType(event.type)}}</div>
						</div>
						<div class="flex-event-item-item-1-down">
							<div class="medium">{{event.description}}</div>
						</div>
					</div><!-- end of flex-event-item-item-1 -->
				</div><!-- end of fles-event-item-container -->
			</div><!-- end of flex-day-calendar-body -->


			<!-- add event div -->
      <div style="overflow: scroll; height:62vh;" class="add-event-container small"
           ng-if="modeService.getAddEventMode()" ng-init="initNewEvent()">
        <div style="margin-top: 1vh;" ng-init="addEventLocation = true">
          <md-button class="md-raised md-primary small bold blue-back vp-button" ng-click="addEventLocation = true">מיקום</md-button>
          <md-button class="md-raised md-primary small bold blue-back vp-button" ng-click="addEventLocation = false">דרך</md-button>
        </div>

        <!--direction div-->
        <div class="add-event-direction" ng-if="!addEventLocation">
          <div>
            <div class="flex-add-event-line-container">
              <div style="width: 8%;"></div>
              <div class="flex-add-event-item-5-item-3">
                <!-- Autocomplete for finding places -->
                <form action="">
                  <md-content layout-padding  style="padding-right: 0px;">
                    <div style="border: 2px dashed #9E9E9E; padding: 1vh 0.5vw 1vh 0.5vw;">
                      <div layout-gt-sm="row" style="padding-right: 0px;">
                        <md-input-container class="md-block" flex-gt-sm >
                          <label>התחלה, הזן כתובת או בחר אירוע מהלוז</label>
                          <input
                            style="direction: rtl; text-align: right;float: right;"
                            type="text"
                            id="Autocomplete"
                            name="Autocomplete"
                            placeholder="התחלה"
                            ng-class="{'set-phone-input':locationValid,'set-location-no-val':!locationValid}"
                            ng-autocomplete="newEvent.newLocation.results"
                            ng-model="newEvent.rawLocation"
                            details="newEvent.newLocation.details"
                            options="newEvent.newLocation.options"
                            required/>
                        </md-input-container>
                      </div>
                      <div>
                        <md-select ng-model="direction.start" md-selected-text="getSelectedTextMakrer(direction.start)">
                          <md-optgroup label="התחלה">
                            <md-option ng-value="marker" ng-repeat="marker in markers"><img ng-src="{{marker.options.icon.url}}" width="10px;" alt=""> <span>{{marker.title}}</span></md-option>
                          </md-optgroup>
                        </md-select>
                      </div>
                    </div>
                    <div style="border: 2px dashed #9E9E9E; padding: 1vh 0.5vw 1vh 0.5vw; margin-top: 1vh;">
                      <div layout-gt-sm="row" style="padding-right: 0px;">
                        <md-input-container class="md-block" flex-gt-sm >
                          <label>סיום, הזן כתובת או בחר אירוע מהלוז</label>
                          <input
                            style="direction: rtl; text-align: right;float: right;"
                            type="text"
                            id="Autocomplete"
                            name="Autocomplete"
                            placeholder="סיום"
                            ng-class="{'set-phone-input':locationValid,'set-location-no-val':!locationValid}"
                            ng-autocomplete="newEvent.newLocation.results"
                            ng-model="newEvent.rawLocation"
                            details="newEvent.newLocation.details"
                            options="newEvent.newLocation.options"
                            required/>
                        </md-input-container>
                      </div>
                      <div>
                        <md-select ng-model="direction.end" md-selected-text="getSelectedTextMakrer(direction.end)">
                          <md-optgroup label="סיום">
                            <md-option ng-value="marker" ng-repeat="marker in markers"><img ng-src="{{marker.options.icon.url}}" width="10px;" alt=""> <span>{{marker.title}}</span></md-option>
                          </md-optgroup>
                        </md-select>
                      </div>
                    </div>

                    <div style="border: 2px dashed #9E9E9E; padding: 1vh 0.5vw 1vh 0.5vw; margin-top: 1vh;">
                      <md-select ng-model="selectedItem" md-selected-text="getSelectedText(selectedItem)">
                        <md-optgroup label="דרכי תחבורה">
                          <md-option ng-value="item" ng-repeat="item in travelMode"><span> <i ng-class="item.icon" aria-hidden="true"></i>  {{item.title}}</span></md-option>
                        </md-optgroup>
                      </md-select>
                    </div>
                    <div style="border: 2px dashed #9E9E9E; padding: 1vh 0.5vw 1vh 0.5vw; margin-top: 1vh;">
                      <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;margin-top: 1vh;">
                        <div style="width: 8%;"></div>
                        <div class="flex-add-event-item-5-item-3">
                          <div>
                            <mdp-date-picker name="date" style="text-align: center;" mdp-placeholder="תאריך" ng-init="newEvent.date = currentDay.date" ng-model="newEvent.date" required></mdp-date-picker>
                          </div>
                        </div>
                      </div><!-- flex-add-event-item-4-container -->

                      <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;">
                        <div style="width: 8%;"></div>
                        <div class="flex-add-event-item-5-item-3">
                          <div>
                            <mdp-time-picker style="text-align: center; width:50%;" mdp-placeholder="שעה" ng-model="newEvent.time"></mdp-time-picker>
                          </div>
                        </div>
                      </div><!-- flex-add-event-item-4-container -->
                    </div>
                    <div class="flex-add-event-line-container">
                      <div class="flex-add-event-buttons-item-1">
                        <md-button class="md-raised md-primary small bold blue-back vp-button" type="submit" ng-disabled="true" ng-show="!(addFrm.$valid)">שמור <span class="glyphicon glyphicon-ok"></span></md-button>
                        <md-button class="md-raised md-primary small bold blue-back vp-button" type="submit" ng-show="(addFrm.$valid)">שמור <span class="glyphicon glyphicon-ok"></span></md-button>
                      </div>
                      <div class="flex-add-event-buttons-item-2">
                        <md-button class="md-raised md-primary small bold blue-back vp-button" type="button" ng-click="modeService.setDayMode(scope,currentDay)">בטל <span class="glyphicon glyphicon-remove"></span></md-button>
                        </button>
                      </div>
                    </div>
                  </md-content>
                </form>
              </div>
            </div><!-- flex-add-event-item-4-container -->
          </div>
        </div>
        <!--end of direction div-->

        <!--location div-->
        <div class="add-event-location" ng-if="addEventLocation">
          <form name="addFrm" ng-submit="addNewEvent(newEvent,newEvent.newLocation.details)">
            <div class="flex-add-event-line-container">
              <div style="width: 8%;"></div>
              <div class="flex-add-event-item-5-item-3">
                <md-content layout-padding style="padding-right: 0px;">
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>כותרת</label>
                      <input ng-model="newEvent.title" style="direction: rtl" required>
                    </md-input-container>
                  </div>
                </md-content>
              </div>
            </div>
            <div class="flex-add-event-line-container" style="padding:0px !important; text-align:center;">
              <div class="flex-add-event-item-2-item-2-container">
                <div
                  class="type-item cursor-mode"
                  ng-repeat="type in types"
                  ng-mouseenter="typeMouseEnter(type)"
                  ng-mouseleave="typeMouseLeave(type)"
                  ng-click="setCategory(type); newEvent.type = type.index"
                  style="outline: none;text-align:center;">
                  <div class="type-icon"><img ng-src="{{type.img}}" alt=""></div>
                  <div style="text-align:center">
                  <span class="small gray type-name" style="color:white;text-align:center;"
                        ng-if="!type.showName && !type.active">cfscas</span>
                    <span class="gray type-name" ng-if="type.showName" style="text-align:center;">{{type.name}}</span>
                  <span class="gray type-name active-type" ng-if="type.active"
                        style="text-align:center;">{{type.name}} </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;margin-top: 1vh;">
              <div style="width: 8%;"></div>
              <div class="flex-add-event-item-5-item-3">
                <md-content>
                  <div>
                    <mdp-date-picker name="date" style="text-align: center;" mdp-placeholder="תאריך" ng-init="newEvent.date = currentDay.date" ng-model="newEvent.date" required></mdp-date-picker>
                  </div>
                </md-content>
              </div>
            </div><!-- flex-add-event-item-4-container -->

            <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;">
              <div style="width: 8%;"></div>
              <div class="flex-add-event-item-5-item-3">
                <md-content>
                  <div>
                    <mdp-time-picker style="text-align: center; width:50%;" mdp-placeholder="שעה" ng-model="newEvent.time"></mdp-time-picker>
                  </div>
                </md-content>
              </div>
            </div><!-- flex-add-event-item-4-container -->

            <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;">
              <div class="flex-add-event-line-field-name" style="padding-top:0vh!important;">
                <span style="vertical-align: middle;" class="medium gray"></span>
              </div>
            </div><!-- flex-add-event-item-4-container -->
            <div class="flex-add-event-line-container">
              <div style="width: 8%;"></div>
              <div class="flex-add-event-item-5-item-3">
                <!-- Autocomplete for finding places -->
                <md-content layout-padding  style="padding-right: 0px;">
                  <div layout-gt-sm="row" style="padding-right: 0px;">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>כתובת</label>
                      <input
                        type="text"
                        id="Autocomplete"
                        name="Autocomplete"
                        placeholder="כתובת"
                        ng-class="{'set-phone-input':locationValid,'set-location-no-val':!locationValid}"
                        ng-autocomplete="newEvent.newLocation.results"
                        ng-model="newEvent.rawLocation"
                        details="newEvent.newLocation.details"
                        options="newEvent.newLocation.options"
                        required/>
                    </md-input-container>
                  </div>
                </md-content>
              </div>
            </div><!-- flex-add-event-item-4-container -->
            <div class="flex-add-event-line-container" style="padding-top:0px !important;">
              <div style="width: 8%;"></div>
              <div class="flex-add-event-item-5-item-3">
                <md-content style="padding-right: 0px;">
                  <md-input-container>
                    <label>הערות</label>
                  <textarea
                    ng-model="newEvent.description"
                    class="gray"
                    style="direction:RTL; width: 100%;">
                  </textarea>
                  </md-input-container>
                </md-content>
              </div>
            </div><!-- end of flex-add-event-item-3-container -->
            <div class="flex-add-event-line-container">
              <div class="flex-add-event-buttons-item-1">
                <md-button class="md-raised md-primary small bold blue-back vp-button" type="submit" ng-disabled="true" ng-show="!(addFrm.$valid)">שמור <span class="glyphicon glyphicon-ok"></span></md-button>
                <md-button class="md-raised md-primary small bold blue-back vp-button" type="submit" ng-show="(addFrm.$valid)">שמור <span class="glyphicon glyphicon-ok"></span></md-button>
              </div>
              <div class="flex-add-event-buttons-item-2">
                <md-button class="md-raised md-primary small bold blue-back vp-button" type="button" ng-click="modeService.setDayMode(scope,currentDay)">בטל <span class="glyphicon glyphicon-remove"></span></md-button>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div><!-- end of flex-add-event-container -->

			<!-- edit event div -->
			<div style="overflow: scroll; height:62vh;" class="add-event-container small" ng-if="modeService.getEditEventMode()" ng-init="">
				<form name="editFrm" ng-submit="editEvent(tmpEditEvent,tmpEditEvent.newLocation.details)">
          <div class="flex-add-event-line-container">
            <div style="width: 8%;"></div>
            <div class="flex-add-event-item-5-item-3">
              <md-content layout-padding style="padding-right: 0px;">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>כותרת</label>
                    <input ng-model="tmpEditEvent.title" style="direction: rtl" required>
                  </md-input-container>
                </div>
              </md-content>
            </div>
          </div>
          <div class="flex-add-event-line-container" style="padding:0px !important; text-align:center;">
            <div class="flex-add-event-item-2-item-2-container">
              <div
              class="type-item cursor-mode"
              ng-repeat="type in types"
              ng-mouseenter="typeMouseEnter(type)"
              ng-mouseleave="typeMouseLeave(type)"
              ng-click="setCategory(type); tmpEditEvent.type = type.index"
              style="text-align:center;">
                <div class="type-icon"><img ng-src="{{type.img}}" alt=""></div>
                <div style="text-align:center">
                  <span class="small gray type-name" style="color:white;text-align:center;" ng-if="!type.showName && !type.active">cfscas</span>
                  <span class="gray type-name" ng-if="type.showName" style="text-align:center;">{{type.name}}</span>
                  <span class="gray type-name active-type" ng-if="type.active" style="text-align:center;">{{type.name}} </span>

                </div>
              </div>
            </div>
          </div>
          <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;margin-top: 1vh;">
            <div style="width: 8%;"></div>
            <div class="flex-add-event-item-5-item-3">
              <md-content>
                <div>
                  <mdp-date-picker name="date" style="text-align: center;" mdp-placeholder="תאריך" ng-model="tmpEditEvent.date" required></mdp-date-picker>
                </div>
              </md-content>
            </div>
          </div><!-- flex-add-event-item-4-container -->
          <div class="flex-add-event-line-container" style="padding-top:0vh!important;padding-bottom:0vh!important;">
            <div style="width: 8%;"></div>
            <div class="flex-add-event-item-5-item-3">
              <md-content>
                <div>
                  <mdp-time-picker style="text-align: center; width:50%;" mdp-placeholder="שעה" ng-model="tmpEditEvent.time"></mdp-time-picker>
                </div>
              </md-content>
            </div>
          </div><!-- flex-add-event-item-4-container -->
          <div class="flex-add-event-line-container" style="padding-top:0px !important;">
            <div style="width: 8%;"></div>
            <div class="flex-add-event-item-5-item-3">
              <md-content style="padding-right: 0px;">
                <md-input-container>
                  <label>הערות</label>
                  <textarea
                    ng-model="tmpEditEvent.description"
                    class="gray"
                    style="direction:RTL; width: 100%;">
                  </textarea>
                </md-input-container>
              </md-content>
            </div>
          </div>
          <div class="flex-add-event-line-container">
            <div class="flex-add-event-buttons-item-0">
            </div>
            <div class="flex-edit-event-buttons-item-1">
              <md-button class="md-raised md-primary small bold blue-back vp-button" type="submit" ng-click="editEvent(tmpEditEvent)">ערוך<span class="glyphicon glyphicon-ok"></span></md-button>
              <!--<button class="add-event-submit" type="button" ng-click="editEvent(tmpEditEvent)">ערוך<span class="glyphicon glyphicon-ok"></span></button>-->
            </div>
            <div class="flex-edit-event-buttons-item-2">
              <md-button class="md-raised md-primary small bold blue-back vp-button" type="button" ng-click="deleteEvent(tmpEditEvent)" >מחק <span class="glyphicon glyphicon-trash"></span> </md-button>
              <!--<button class="add-event-delete" type="button" ng-click="deleteEvent(tmpEditEvent)" >מחק <span class="glyphicon glyphicon-trash"></span></button>-->
            </div>
            <div class="flex-edit-event-buttons-item-3">
              <md-button class="md-raised md-primary small bold blue-back vp-button" type="button" ng-click="modeService.setEventMode(scope,currentEvent,currentDay)">בטל <span class="glyphicon glyphicon-remove"></span> </md-button>
              <!--<button class="add-event-delete" type="button" ng-click="cancelEdit()">בטל <span class="glyphicon glyphicon-remove"></span></button>-->
            </div>
          </div>
				</form>
			</div><!-- end of edit event div -->
		</div>


		<div class="flex-calendar-highlights">
      <div class="trip-title cursor-mode" ng-click="scope.$parent.showFiles = false;;setBoundes(markers)">
        {{trip.title}}
      </div>
			<div class="day-highlights" ng-repeat="day in days">
				<div class="day-title-active-cotnainer" ng-if="day.active">
					<div class="white day-title-cotnainer">
						<div class="day-title-item-2 cursor-mode" ng-click="modeService.setDayMode(scope,day);">
							<p style="float:right;margin:10px" class="medium">
								<span class="large">{{day.date| date:'EEEE'}}</span>
								<span class="large">{{day.date | date:'d'}}/{{day.date | date:'M'}}</span>
							</p>
						</div>
						<div class="day-title-item-1">
              <span class="button toggle-button" ng-init="day.toggleIcon = true" ng-if="day.toggleIcon" ng-click="dayToggle(day)">
                <img src="/images/right-bar/toggle-plus.png" alt="">
              </span>
              <span class="button toggle-button" ng-if="!day.toggleIcon" ng-click="dayToggle(day)">
                <img src="/images/right-bar/toggle-minus.png" alt="">
              </span>
						</div>
						<div style="clear: both;"></div>
					</div><!-- end of day-title-cotnainer -->
				</div><!-- end of day-title-active-cotnainer -->
				<div class="white day-title-cotnainer" ng-if="!day.active" >
						<div class="day-title-item-2 cursor-mode" ng-click="modeService.setDayMode(scope,day);">
								<p style="float:right;font-weight: bold;margin:10px" class="small gray" >
									<span class="medium">{{day.date| date:'EEEE'}}</span>
									<span class="medium">{{day.date | date:'d'}}/{{day.date | date:'M'}}</span>
								</p>
						</div>
					<div class="day-title-item-1">
						<span class="button toggle-button " ng-init="day.toggleIcon = true" ng-if="day.toggleIcon" ng-click="dayToggle(day)">
							<img src="/images/right-bar/toggle-plus.png" alt="">
						</span>
						<span class="button toggle-button" ng-if="!day.toggleIcon" ng-click="dayToggle(day)">
							<img src="/images/right-bar/toggle-minus.png" alt="">
						</span>
					</div>
					<div style="clear: both;"></div>
				</div><!-- end of day-title-cotnainer -->
				<div ng-show="day.showEvents" class="box-one">
					<a href="">
						<div class="event-highlight" ng-repeat="event in day.events" ng-click="modeService.setEventMode(scope,event,day);addEventMode = false">
							<div id="event-date" ng-class="{ 'small': true, 'gray': !event.active, 'orange-style bold': event.active}" >{{event.date|date:'HH:mm'}}</div>
							<div id="event-title" ng-class="{ 'small': true, 'gray': !event.active, 'orange-style bold': event.active}">{{event.title}}</div>
						</div>
					</a>
				</div>
			</div> <!-- end of day-highlights -->
		</div><!-- end of calendar-highlights -->
	</div>
</div>
